#game {
    display: flex;
    flex-direction: column;
}

#game-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#player-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#status {
    display: block;
    font-size: larger;
    margin: auto;
}

#game-fields {
    display: inline-grid;
    grid-template-rows: 70px 70px 70px;
    grid-template-columns: 70px 70px 70px;
    grid-gap: 3px;
    padding: 3px;
    background-color: black;
    width: auto;
    border: 10px solid #ff613d;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: x-large;
    transition: 0.1s;
    cursor: pointer;
}

.side-container {
    display: flex;
    flex-direction: column;
    background-color: #ff613d;
    text-align: left;
    height: 242px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

#logs {
    overflow: auto;
    color: black;
    text-align: left;
    word-break: break-word;
    padding: 5px;
}

#logs a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#game-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#game-stats {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#info div {
    margin: 10px;
}

#info ul {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}

#info li {
    margin: 3px;
}

#players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.points {
    font-size: xx-large;
}

@media screen and (max-width: 900px) {

    #game-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #game-stats {
        width: 70%;
    }

    .side-container {
        height: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 242px;
        padding: 0;
    }

    #info-container {
        display: block;
        height: auto;
    }

    #logs-container {
        display: none;
    }

}