#game {
    display: flex;
    flex-direction: column;
}

#game-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#player-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#status {
    display: block;
    font-size: larger;
    margin: auto;
}

#game-fields {
    display: inline-grid;
    grid-template-rows: 70px 70px 70px;
    grid-template-columns: 70px 70px 70px;
    grid-gap: 3px;
    padding: 3px;
    background-color: black;
    width: auto;
    border: 10px solid #ff613d;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: xx-large;
    transition: 0.1s;
    cursor: pointer;
}

.side-container {
    display: flex;
    flex-direction: column;
    background-color: #ff613d;
    text-align: left;
    height: 242px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

#logs {
    overflow: auto;
    color: black;
    text-align: left;
    word-break: break-word;
    padding: 5px;
}

#logs a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#game-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#game-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#info div {
    margin: 10px;
}

#info ul {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}

#info li {
    margin: 3px;
}

#players {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.points {
    font-size: xx-large;
}

#error-icon {
    font-size: 50px;
    margin: 20px;
}

.error-msg {
    color: #f53a12;
}

#ping {
    display: inline-block;
}

#ping-container {
     padding-bottom: 10px;
}

#overlay {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    font-size: 20px;
    height: 242px;
    width: 242px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#reset-button {
    background-color: #5eea3a;
    border: 2px solid #5eea3a;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: black;
    font-size: medium;
}

#reset-button:hover {
    background-color: black;
    color: #5eea3a;
}

#reset-button:active {
    background-color: #5eea3a;
    color: black;
}

.message {
    font-size: 20px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

#joinMessage {
    background-color: rgba(97, 255, 61, 0.9);
}

#leaveMessage {
    background-color: rgba(252, 68, 51, 0.9);
}

@media screen and (max-width: 900px) {

    h1 {
        margin: 5px;
    }

    h2 {
        margin: 10px;
    }

    #players {
        margin: 10px;
    }

    #game-stats-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #game-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #game-stats {
        width: 95%;
    }

    .side-container {
        height: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 242px;
        padding: 0;
    }

    #info-container {
        display: block;
        height: auto;
    }

    #logs-container {
        display: none;
    }

    .message {
        width: 90%;
    }

}