body, html {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

h2 {
    color: #fc4433;
}

#content-box-aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #131313;
    width: 70%;
    height: 90%;
    padding: 10px;
}

#button-aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#buttons input {
    border: none;
    padding: 12px;
    margin: 5px;
    border-radius: 5px;
    font-size: large;
}

button {
    background-color: #ff613d;
    border: 2px solid #ff613d;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: black;
    font-size: large;
}

button[disabled=disabled], button:disabled {
    opacity: 0.5;
}

button:not([disabled]):hover {
    background-color: black;
    color: #ff613d;
}

button:not([disabled]):active {
    background-color: #ff613d;
    color: black;
}

@media screen and (max-width: 900px) {
    body {
        background-color: #131313;
    }

    #content-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
    }

    #content-box-aligner {
        height: auto;
    }

    #buttons {
        width: 80%;
    }
}