body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#err {
    font-size: 40px;
    margin: 10px;
}